.custom-navbar {
  background: rgba(0, 0, 0, 0.5); /* hitam + transparan */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4) ;
}

/* Footer oren */
.cta-section {
  padding: 60px 0;
  background: linear-gradient(
    90deg,
    #b22101,
    #b22101,
    #b22101
  );
}

.cta-section h2 {
  font-weight: 700;
  margin-bottom: 15px;
}

.cta-section p {
  font-size: 16px;
  max-width: 600px;
  opacity: 0.95;
}

.cta-section .btn {
  min-width: 260px;
}

/* footer biru */
.main-footer {
  background: linear-gradient(90deg, #00244a, #00244a);
  padding: 60px 0 0;
}

.main-footer h5 {
  font-weight: 600;
  margin-bottom: 15px;
}

.main-footer p {
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.9;
}

.main-footer ul li {
  margin-bottom: 10px;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}

.main-footer a:hover {
  text-decoration: underline;
  opacity: 1;
}

.social-icons a {
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
}

.footer-bottom {
  background: rgba(0,0,0,0.2);
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}

/* Card */
.achievement-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.achievement-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
}

/* Content */
.achievement-content {
    padding: 24px;
}

.achievement-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.achievement-meta {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 6px;
}

.achievement-award {
    font-weight: 600;
    color: #1b4da1;
    margin-bottom: 6px;
}

.achievement-desc {
    font-size: 13.5px;
    color: #555;
    margin-bottom: 0;
}

/* Image */
.achievement-img {
    height: 100%;
    min-height: 180px;
    object-fit: cover;
}



/* card ig */
.card-img{
    height: 100%;
    min-height: 180px;
    object-fit: cover;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
   transform: translateY(-8px);
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.08);
}

/* bagian di dalam foto */
 .card {
    overflow: hidden;
  }

  .card-img-overlay {
    background: rgba(0, 0, 0, 0.6); /* overlay gelap */
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .card:hover .card-img-overlay {
    opacity: 1;
  }